<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.carla.azai91</string>
	<key>connections</key>
	<dict>
		<key>420A3813-AB0D-4AD7-BC45-FEB88BB1A280</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FD4D388-5961-4963-8F9C-22670273B1AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>68B03567-4AF9-4259-80EC-F494AA84B635</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43BFCCEA-8557-47CD-A8AF-3682E81BA53A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>azai91</string>
	<key>description</key>
	<string>Use Carla.io more effectively</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Carla</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>c</string>
				<key>text</key>
				<string>Send Message to Carla</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>420A3813-AB0D-4AD7-BC45-FEB88BB1A280</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>from carla_api import Carla
Carla.send_message("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>9FD4D388-5961-4963-8F9C-22670273B1AF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>from carla_api import Carla
Carla.set_device("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>43BFCCEA-8557-47CD-A8AF-3682E81BA53A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python carla.py "{query}"</string>
				<key>title</key>
				<string>Set Device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>68B03567-4AF9-4259-80EC-F494AA84B635</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>420A3813-AB0D-4AD7-BC45-FEB88BB1A280</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>43BFCCEA-8557-47CD-A8AF-3682E81BA53A</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>68B03567-4AF9-4259-80EC-F494AA84B635</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>9FD4D388-5961-4963-8F9C-22670273B1AF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/azai91</string>
</dict>
</plist>
